body {
	background: #298eea;
	padding:0;
	margin: 0;
	padding-top: 50;
}

body * {
	box-sizing: border-box;
}

.logo {
	display: block;
	height: 35px;
	width: auto;
	margin: 0 auto 30px;
}

.sup {
	margin:0 auto;
	width: 400px;
	padding: 40px;
	background-color: white;
}

.sup legend {
	text-align: center;
	margin: 0 auto 45px;
	font-size: 35px;
	
}